In [2]:
datasuhu=[20,21,23,24,25]
#akses dengan subsetting list
print(datasuhu[1])# 21
#akes dengan slicing list
# saya ingin 21 sampai 24
print(datasuhu[1:4])

21
[21, 23, 24]

In [4]:
# ganti 21 jadi 22
datasuhu[1]=22
print(datasuhu)

[20, 22, 23, 24, 25]

In [5]:
# kasus sy punya dua nama varibel sama2 menyimpan data array dan sy pengen menggabungkan datanya
datakelabdul=['dian','rodi','abdul','huswatun','malik']
datakelsintya=['desi','sintya','monir']
data_kel_baru=datakelabdul+datakelsintya
print(data_kel_baru)

['dian', 'rodi', 'abdul', 'huswatun', 'malik', 'desi', 'sintya', 'monir']

In [6]:
# kasusnya saya ingin menambahakan data baru di akhir
data_kel_baru.append('databaru')
print(data_kel_baru)

['dian', 'rodi', 'abdul', 'huswatun', 'malik', 'desi', 'sintya', 'monir', 'databaru']

In [7]:
# kasus saya ingin menambhakan data baru sesui index yang saya inginkan gunakan method insert
data_kel_baru.insert(2,'geser abdul')
print(data_kel_baru)

['dian', 'rodi', 'geser abdul', 'abdul', 'huswatun', 'malik', 'desi', 'sintya', 'monir', 'databaru']

In [8]:
# kasus misal sy ingin menghapus data terakhir
del(data_kel_baru[len(data_kel_baru)-1])
print(data_kel_baru)

['dian', 'rodi', 'geser abdul', 'abdul', 'huswatun', 'malik', 'desi', 'sintya', 'monir']

In [9]:
#bagaimana cara kita menghapus data berdasarkan index ? nah solusinya bisa menggunakan method pop
data_kel_baru.pop(2)
print(data_kel_baru)

['dian', 'rodi', 'abdul', 'huswatun', 'malik', 'desi', 'sintya', 'monir']

In [10]:
# kasus nya juga misalnya kita punya data dan kita mau mengurutkan data sesui abjadnya
datanumber=[10,9,11,1,21,2,3,5,4,8,7]
print(sorted(datanumber))

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 21]

In [12]:
# kasusnya kita sudah memiliki datanya dan kita ingin mengcopy data tersebut solusinya dapat menggunakan method copy
a=datanumber.copy()
a.append(8)
print(a)

[10, 9, 11, 1, 21, 2, 3, 5, 4, 8, 7, 8]

In [16]:
# kasus utk comperehension saya memiliki data yang tersimpan dalam array tapi sy pengen memfilter data tersebut seui yang saya inginkan
data=[29,1,4,2,3,8,11,10,12,13,14,48]
data_filter=[i for i in data if i >2]
print(data_filter)

[29, 4, 3, 8, 11, 10, 12, 13, 14, 48]

In [17]:
# topik dictionary
# saya ingin mendeklarasikan sebuah dictionary yang memiliki key dan value
data_number={'one':1,'two':2,'three':3}
data_number.ap
print(data_number)

{'one': 1, 'two': 2, 'three': 3}

In [18]:
#bagimana jika saya ingin mengambil data dengan key one
print(data_number['one'])

1

In [19]:
# bagimana jika saya ingin merubah value key two
data_number['two']=4
print(data_number)

{'one': 1, 'two': 4, 'three': 3}

In [26]:
# bagimana jika saya melooping data dictiobary mengambil nilai key dan value nya
for key in data_number:
    print(f' nama key {key} dan value {data_number[key]}')

 nama key one dan value 1
 nama key two dan value 4
 nama key three dan value 3

In [28]:
# bagimana cara mengatasi soal yang di atas dengan cara lebih mudah lagi dalam melooping dictionary
for key,val in data_number.items():
    print(f' {key}={val}')

 one=1
 two=4
 three=3

In [33]:
# misalnya dalam sebuah kasus saya ingin mengetahui apakah ada key dengan nama one di dictionary kalau ada kasih tau
for key in data_number:
    if 'one' in data_number :
        print('ya ada ')
        break
    else:
        print('ya tidak ada')
        break

ya ada

In [34]:
# kasus misalnya saya ingin menambahakan sebuah data
data_number['four']=4
print(data_number)

{'one': 1, 'two': 4, 'three': 3, 'four': 4}

In [36]:
# bagaiamana kasusnya lagi jika saya ingin mengubah datanya, ingat ya kalau menggunakan method update itu menerima parameter dictionary
data_number.update({'two':2})
print(data_number)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [41]:
# kasusnya lagi bagaimana jik saya ingin menghapus data dictionary dapat mengguanakan method del dan pop

# data_number.pop('four')
#menggunakan method del
del data_number['three']
print(data_number)

{'one': 1, 'two': 2}

In [16]:
list1=[1,2]
list2=[2,3]

# List2=List1.copy()
# list2=list1.copy()
# print(list2)
# list2.copy()=list1
# print(list1)

# List2 =list(list1)
# # List2 =list1[:]
# print(list2)

# List2 = List1[ : ] 
# List2 = List1.copy()
# print(list2)



# List2=List1.copy() dan List2.copy() = List1
# List2 = List1 dan List2 = list(List1)
# list2 = list1 
# print(list2)
list2.copy() = list1
print(list2)

SyntaxError: cannot assign to function call (<ipython-input-16-1b046a634328>, line 24)