In [29]:
# materi type data list
#kumpulan data
suhu1=29
suhu2=30
suhu3=52
data_suhu=[suhu1,suhu2,suhu3]
print(data_suhu[-2]) # cetak data dari belanag
# print(data_suhu[start:stop+1])
print(data_suhu)

30
[29, 30, 52]

In [2]:
# berisi type data yang berbeda juga
keluarga_ucup=['abdul',18,'hir',30,'ibu',38]
print(keluarga_ucup)

['abdul', 18, 'hir', 30, 'ibu', 38]

In [3]:
#materi akes data di dalam list
daftar_angka=[358,902,344,289,987]
#akes index ke nol
print(daftar_angka[0])#358

358

In [4]:
#manipulasi data list
daftar_random=[346,903,340]
#ubah di dalam daftar list utk index 1
daftar_random[1]=900
# menambahkan data baru
data1=daftar_random+[20,40,67]
print(daftar_random)
print(data1)

[346, 900, 340]
[346, 900, 340, 20, 40, 67]

In [9]:
# penggunaan metho pada list seperti append(),index()
buahan=['jeruk','semangka','buah kelapa','manggis']
#tambahkan nanas di buahan, append() utk penambahan di akahir
buahan.append('nanas')
#tambahkan nangka di buahan , dengan method insert() harus ada index ke berapa tempat naruh
buahan.insert(2,'nangka')
print(buahan)

['jeruk', 'semangka', 'nangka', 'buah kelapa', 'manggis', 'nanas']

In [11]:
#method yang ada di list yang di gunakan untuk menghapus data del
anggota_kel=['malik','rodi','dian','abdul','aton']
#delet malik
# del(anggota_kel[0])

#pop mengapus berdasarkan indexnya
# anggota_kel.pop(0)

print(anggota_kel)

['rodi', 'dian', 'abdul', 'aton']

In [14]:
# beberapa fungsi dalam list
bil=[20,29,30,37,89,27,38,56]
#len, mengetahui panjang data 
# print(len(bil))
# sorted, penggunaan sorted utk mngurutkan bilangan dari terkecil sampai terbesar

# print(sorted(bil))

#penggunaan sum dalam menjumlahkan bilangan di dalam array
print(sum(bil))

326

In [19]:
# list compherensif
numbers=[45,36,67,35,90,89,46]
#memfilter isi dalam list
number=[i for i in numbers if i >36]
print(number)

[45, 67, 90, 89, 46]

In [28]:
# materi dictionary
xiomi={
    'produksi':'korea selatan',
    'color':'black',
    'price':200000

    
    }
print(xiomi)
for i in xiomi:
    print('{}={}'.format(i,xiomi[i]))
print(xiomi['produksi'])
print(xiomi['price'])

{'produksi': 'korea selatan', 'color': 'black', 'price': 200000}
produksi=korea selatan
color=black
price=200000
korea selatan
200000

In [6]:
#looping pada dictionary
numbers={'one':1,'two':2,'three':3}
for k in numbers:
    # print("{} = {}".format(k, numbers[k]))
    print("{}={}".format(k,numbers[k]))

one=1
two=2
three=3

In [7]:
# jika ingin melakukan interasi terhadap value
family={'rodi':20,'abdul':24,'malik':15}
for k in family.values():
    print('{}'.format(k))

20
24
15

In [9]:
# penggunaan item pada iterasi dictionary
english={'one':1,'two':2,'three':3,'four':4}
for k,v in english.items():
    print('{}={}'.format(k,v))

one=1
two=2
three=3
four=4

In [11]:
# Menambkan item pada dictionary
angka={'one':1,'two':2,'three':3,'four':4}
angka['five']=5
#update
angka.update({'two':11})
print(angka)

{'one': 1, 'two': 11, 'three': 3, 'four': 4, 'five': 5}

In [15]:
data_list={'one':1,'two':2,'three':3,'four':4,'five':5}
# data_list.pop('one')
# data_list.clear() # mendelet semua key dan value di dictionary
del data_list['one']
print(data_list)

{'two': 2, 'three': 3, 'four': 4, 'five': 5}