In [1]:
print(help(len))

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

None

In [5]:
def lest_difference(a,b,c):
    diff1=abs(a-b)
    diff2=abs(b-c)
    diff3=abs(a-c)
    return min(diff1,diff2,diff3)
lest_difference(10,5,2)

3

In [7]:
def greet():
    print('hello colin, husn')
greet()

hello colin, husn

In [10]:
def greet1(name='abdul'):
    print('hello name saya'+ ' '+name)
greet1()

hello name saya abdul

In [21]:
f = lambda a,b :a+b

f(3,2)

5

In [23]:
f = lambda x: x*x

f(3)

9

In [24]:

huruf_kecil='huruf_kecil'

# cetak jadi huruf besara
print(huruf_kecil.upper())

HURUF_KECIL

In [26]:
keluarga_ucup=['mamah','papah','ucup','lisa','dewi']

# sy ingin manggil ucup

print(keluarga_ucup.index('ucup'))
print(keluarga_ucup[2])

2
ucup

In [28]:
import math
r=7
phi=math.pi
keliling=2*phi*r
print('hasil perhitungan keliling :'+ str(keliling))

hasil perhitungan keliling :43.982297150257104

In [33]:
import pandas as pd 
def1 =pd.read_csv('./datacovid.csv')

print(def1.head(7))

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-02-24          1.0        1.0
1      AFG      Asia  Afghanistan  2020-02-25          1.0        0.0
2      AFG      Asia  Afghanistan  2020-02-26          1.0        0.0
3      AFG      Asia  Afghanistan  2020-02-27          1.0        0.0
4      AFG      Asia  Afghanistan  2020-02-28          1.0        0.0
5      AFG      Asia  Afghanistan  2020-02-29          1.0        0.0
6      AFG      Asia  Afghanistan  2020-03-01          1.0        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         NaN                  NaN  ...
1                 NaN           NaN         NaN                  NaN  ...
2                 NaN           NaN         NaN                  NaN  ...
3                 NaN           NaN         NaN                  NaN  ...
4                 NaN           NaN         NaN                  NaN  ...
5               0.143           NaN         NaN                  0.0  ...
6               0.143           NaN         NaN                  0.0  ...

   gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
0        1803.987              NaN                597.029
1        1803.987              NaN                597.029
2        1803.987              NaN                597.029
3        1803.987              NaN                597.029
4        1803.987              NaN                597.029
5        1803.987              NaN                597.029
6        1803.987              NaN                597.029

   diabetes_prevalence  female_smokers  male_smokers  handwashing_facilities  \
0                 9.59             NaN           NaN                  37.746
1                 9.59             NaN           NaN                  37.746
2                 9.59             NaN           NaN                  37.746
3                 9.59             NaN           NaN                  37.746
4                 9.59             NaN           NaN                  37.746
5                 9.59             NaN           NaN                  37.746
6                 9.59             NaN           NaN                  37.746

   hospital_beds_per_thousand  life_expectancy  human_development_index
0                         0.5            64.83                    0.511
1                         0.5            64.83                    0.511
2                         0.5            64.83                    0.511
3                         0.5            64.83                    0.511
4                         0.5            64.83                    0.511
5                         0.5            64.83                    0.511
6                         0.5            64.83                    0.511

[7 rows x 59 columns]